.h1 {
    font-size: 3rem;
    color: #45046a;
    margin-bottom: 20px;
    font-family: "Baloo 2", sans-serif;
    margin-top: 0vh;
    margin-bottom: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.ol {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.li {
    display: flex;
}

.input {
    width: 54px;
    height: 54px;
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

.input:focus {
    outline: none;
    border-color: #6a308d;
    background-color: #eae4f3;
}

.input:nth-child(3n) {
    border-right: 2px solid #000;
}

.li:nth-child(3n) .input {
    border-bottom: 2px solid #000;
}

.ol>.li:first-child .input {
    border-top: 2px solid #000;
}

.ol>.li .input:first-child {
    border-left: 2px solid #000;
}

.input {
    -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-bottom: 15vh; */
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #45046a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    min-width: 6rem;
}

.button:hover {
    background-color: #6c1b9c;
    transform: scale(1.05);
}

.note {
    color: red;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}

.p {
    font-size: 1.5rem;
    color: #45046a;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footerButton {
    background-color: #45046a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 2vw 2vh 2vw;
    transition: background-color 0.3s ease;
}

.footerButton:hover {
    background-color: #32034a;
}

/* @media (max-height: 750px) {
    .h1 {
        font-size: 3.3rem;
    }

    .input {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.9rem;
        min-width: 5.5rem;
    }

    .footerButton {
        padding: 8px 16px;
        font-size: 15px;
    }

    .mainContainer {
        height: auto;
        padding: 20px 0;
    }

    .boardContainer {
        margin-bottom: 15px;
    }
} */

@media (max-width: 800px) {
    .h1 {
        font-size: 2.5rem;
    }

    .input {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.8rem;
        min-width: 5rem;
    }

    .footerButton {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .h1 {
        font-size: 2.5rem;
    }

    .input {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.8rem;
        min-width: 5rem;
    }

    .footerButton {
        padding: 8px 16px;
        font-size: 14px;
    }
}