.main {
    padding: 20px;
    text-align: center;
    background: linear-gradient(#45046A, #B5076B);
    min-height: 75vh;
}

.header {
    background-color: #45046A;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-family: "Baloo 2", sans-serif;
    margin: 0;
    font-size: 4rem;
    color: #EEEEEE;
}

@media (max-width: 350px) {
    .header h1 {
        font-size: 3rem;
    }
}