.containerPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
  font-family: Arial, sans-serif;
  border: rgb(10, 98, 125) 4px solid;
  border-radius: 20px;
  background: #042959 ;
  width: 25rem;
  height: 35vh;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
  font-family: Arial, sans-serif;
}
  
  .h2 {
    /* display: inline-block; */
    font-size: 15px;
    color: #F1F3FFFF;
    /* margin-right: 10px; */
  }
  
  .input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: #09203F;
    border: 4px solid #0956a9;
    color: white;
    padding: .5rem 2px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 1rem;
    margin: 1rem 0rem 0rem 15rem;
    cursor: pointer;
    border-radius: 25px;
    /* box-shadow: 0px 0px 10px 5px; */
    width: 7rem;
  }
  
  .button:hover {
    background-color: #03142a;
  }