.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
  font-family: Arial, sans-serif;
  background: linear-gradient(#09203F , #537895);
  height: 80vh;
}
  .playerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 50px; */
    font-family: Arial, sans-serif;
    background-color: #011936FF;
    height: 70vh;
    width: 30rem;
    border-radius: 50px;
    box-shadow: #09203F 0px 0px 10px 5px;
    border: #09203F  1px solid;
  }
  .title {
    font-size: 2.5em;
    margin-bottom: 30px;
    color:#F1F3FFFF;
  }
  
  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .attemptsLabel {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color:#F1F3FFFF;
  }
  
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.1em;
    text-align: center;
  }
  
  .guessInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .guessInput {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    width: 300px;
  }
  
  .guessInput:focus {
    box-shadow: 0 0 5px 1px #4CAF50;
  }
  
  .submitButton {
    background-color: #09203F;
    border: 5px solid #0956a9;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    align-self: center;
    width: 20rem;
  }
  
  .submitButton:hover {
    background-color: #03142a;
    box-shadow: 0px 0px 10px 5px;
  }
  
  /* .submitButton:active {
    background-color: #3e8e41;
  } */
  
  .modalMessage {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.4s ease-in-out;
  }

  .backButton{
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    background-color: #09203F;
    border: 5px solid #0956a9;
    color: white;
    margin: -1.18rem 2rem 0rem -86rem;
    cursor: pointer;
  }
  .backButton:hover{
    box-shadow: 0px 0px 10px 5px;
  }
  