.mainContainer {
  background: linear-gradient(#09203F, #537895);
  height: auto;
  min-height: 80vh;
}

.section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #011936FF;
  box-shadow: #09203F 0px 0px 10px 5px;
  border: #09203F 1px solid;
  height: 60vh;
}

.h2 {
  margin-bottom: 15px;
  color: #F1F3FFFF;
  margin-left: 2rem;
  font-family: "Baloo 2", sans-serif;
  font-size: 2rem;
}

.ul {
  padding: 0;
  color: #F4FFFDFF;
  margin: 0.5rem 0rem 0rem 2rem;
}

.li {
  margin-bottom: 20px;
}

.backButton {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  background-color: #09203F;
  border: 5px solid #0956a9;
  color: white;
  position: fixed;
  bottom: 50px;
  left: 50px;
  cursor: pointer;
}

.backButton:hover {
  box-shadow: 0px 0px 10px 5px;
}

/* Media Query for screens with width less than 500px */
@media (max-width: 500px) {
  .section {
    max-width: 90%;
    padding: 10px;
    height: auto;
  }

  .h2 {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .ul {
    margin-left: 1rem;
  }

  .li {
    margin-bottom: 15px;
  }
}