.container {

    width: 700px;

    height: 700px;

    background: #111;

    border-radius: 15px;

    overflow: hidden;

    display: flex;

    justify-content: center;

    align-items: center;

}