.history {

    margin-top: 20px;

    background: #222;

    color: white;

    padding: 15px;

    border-radius: 10px;

}

.list {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    margin-top: 10px;

}

.list span {

    background: #444;

    padding: 6px 10px;

    border-radius: 6px;

    font-weight: bold;

}